.mat-mdc-paginator {
  color: rgba(150,50,80, 1);
}
.filter-div{
  display: flex;
  align-items: center;
}

.addnew{
  margin: 0;
  position: relative;
  margin-left: 5px;
  top: 50%;
}
.chit-div{
  display: block;
}