.mat-mdc-paginator {
  color: rgba(150,50,80, 1);
}
.filter-div{
  display: flex;
  align-items: center;
}

@media (max-width: 1450px) {
  .filter-div{
    display: block;
    align-items: center;
    margin-right: 5px;
  }

  .addnew{
    margin-top: 10px;
  }

}
.addnew{
  position: relative;
  margin-left: 5px;
  top: 50%;
}
.chit-div{
  display: block;
}