<div class = "row my-0">
  <div class="col-10 ">
  </div>
  <div class="col-1 m-0" >
    <div class="text-right col-6">
      <button class="btn btn-primary align-items-end mb-0" (click)="openAddTaskDialog()">Add new</button>
    </div>
  </div>
</div>
<div class="row gx-1 my-0 mx-4 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
  <div class="col mb-5" *ngFor="let chitchat of chitchats">
    <div class="card h-100 shadow text-center  p-1 mb-1 bg-white rounded "
         style="width: 15rem;">
      <!-- Product image-->
      <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
        <img class="card-img-top" src="assets/img/faces/marc.jpg" alt="..."/>
      </div>
      <!-- Product details-->
      <div class="card-body">
        <div class="text-center">
          <!-- Product name-->
          <h4 class="fw-bolder my-0 text-danger text-truncate">{{chitchat.authorName}}</h4>
          <h3 class="fw-bolder my-0 text-success "
          >{{chitchat.languageName}}</h3>
          <!-- Product price-->
          <h1 class="fw-bolder my-0 text-primary"
          >{{chitchat.level}}</h1>

          <h6 class="fw-bolder my-1 text-dark"
          >{{chitchat.description}}</h6>
          <h3 class="fw-bolder my-0 text-info"
          >Speakers..[{{chitchat.usersInChitchat.length}}]</h3>
        </div>
      </div>
      <!-- Product actions-->
      <a class="btn btn-primary mx-4 mb-2" (click)="openChitChat(chitchat)">
        Детальніше</a>
    </div>
  </div>

</div>