<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <div class="card mt-5 text-center">
        <div class="card-header">
          Вітання!
        </div>
        <div class="card-body">
          <h5 class="card-title">Підтвердження реєстрації</h5>
          <p class="card-text">Для завершення реєстрації натисніть ПІДТВЕРДИТИ</p>
          <a class="btn btn-primary" (click)="newUserEmailConfirm()">Підтвердити</a>
        </div>
        <div class="card-footer text-muted">

        </div>
      </div>
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
