th.mat-sort-header-sorted {
  color: black;
}

.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  overflow: auto;
}

table{
  width:100%;
}

.mat-column-number,
.mat-column-description {
  max-width: 15rem !important;
}

.mat-column-usersInChitchat {
  max-width: 7rem !important;
}

