th.mat-sort-header-sorted {
  color: black;
}

table{
  width:100%;
}

.mat-column-number,
.mat-column-description {
  max-width: 15rem !important;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
  display: inline-flex !important;
  min-width: 100% !important;
}


