<ng-container *transloco="let translate;">
  <div class="container">
    <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm">
        <div class="card mt-5 text-center">
          <div class="card-header">

          </div>
          <div class="card-body">
            <h5 class="card-title">Password recovery </h5>
            <p class="card-text">Enter new password and press CONFIRM</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-newPassword">{{translate(
            'New password')}}</span>
              </div>
              <input type="text" class="form-control" aria-label="Default"
                     [(ngModel)]="newPassword"
                     aria-describedby="inputGroup-sizing-newPassword">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-newPasswordConfirmation">{{translate(
            'Confirmation')}}</span>
              </div>
              <input type="text" class="form-control" aria-label="Default"
                     [(ngModel)]="newPasswordConfirmation"
                     aria-describedby="inputGroup-sizing-newPasswordConfirmation">
            </div>

            <a class="btn btn-primary" (click)="passwordRecoveryEmailConfirm()">CONFIRM</a>
            <a href="#" class="card-link">{{translate('Close')}}</a>
          </div>
          <div class="card-footer text-muted">

          </div>
        </div>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>
</ng-container>