<ng-container *transloco="let translate;">
  <form [formGroup]="loginForm">

    <div class="container">
      <label><b>{{translate('Username')}}</b></label>
      <input type="text" formControlName="username" placeholder="Enter Username" required>

      <label><b>{{translate('Password')}}</b></label>
      <input type="password" formControlName="password" placeholder="Enter Password" required>

      <button type="submit" (click)="login()">{{translate('Login')}}</button>
    </div>
  </form>
</ng-container>