<ng-container *transloco="let translate;">

  <div class="row px-0 mx-0">
    <div class="col-6 col-md-4">
      <div class="row mx-0">
        <div class="col-6 ">
          <div class="ratio  ml-2 mt-2 ratio-1x1 rounded-circle overflow-hidden"
               style="width: 7rem">
            <img class="card-img-top" src={{oneChitChat.avatarUrl}} alt="..."/>
          </div>
          <div class="badge-success text-light position-absolute"
               style="font-size:16px; top: 0.5rem; left: 0.5rem">{{oneChitChat.authorName}}
          </div>
        </div>

        <div class="col-lg-6 px-0">
          <h4 class="py-1 my-0"><span class="badge badge-primary py-1">Language</span>{{"  "
          + oneChitChat.languageName}}</h4>
          <h4 class="py-1 my-0"><span class="badge badge-info py-1">Level</span>{{"  "
          + oneChitChat.level}}</h4>
          <h4 class="py-1 my-0"><span
              class="badge badge-success py-1">Date</span>{{oneChitChat.date|date: '  dd/MM/yyyy'}}
          </h4>
          <h4 class="py-1 my-0"><span
              class="badge badge-danger py-1">Time</span>{{oneChitChat.date|date: '  hh:mm'}}
          </h4>
        </div>
      </div>
      <ul class="list-group py-0 my-0 list-group-flush">
        <li class="list-group-item py-0 my-1">{{oneChitChat.categoryName}}</li>
      </ul>
      <div class="form-group pl-2">
        <h4 class="py-1 my-0"><span class="badge badge-info py-1">Theme</span>{{"    "+oneChitChat.chatName}}</h4>
        <h4 class="py-1 my-0"><span class="badge badge-info py-1">Description</span></h4>
        <textarea class="form-control" rows="7">{{oneChitChat.description}}</textarea>
      </div>
      <h4 class="py-1 my-0"><span class="badge badge-info py-1">{{translate('Link:')}}</span></h4>
       <textarea class="form-control w-100" rows="1" aria-label="With textarea"
                    [readOnly]="!isAuthor"
                    [(ngModel)]="tmpConferenceLink"></textarea>
          <div *ngIf="isAuthor">
            <a class="card-link" style="cursor: pointer;"
               (click)="addConferenceLink()"
            >{{translate('Save')}}</a>
          </div>


    </div>
    <div class="col-3 col-md-2">
      <h4 class="py-1 my-0"><span class="badge badge-primary py-1 mr-3">Participants</span></h4>
      <ul class="list-group list-group-flush ml-2 mt-1"
          *ngFor="let user of oneChitChat.usersInChitchat">
        <button type="button" (click)="copyDataToClipboard(oneChitChat.avatarUrl)" class="btn my-0 btn-outline-info btn-sm">
          {{currentUser==user?"disconnect "+user:user}}
        </button>
      </ul>
    </div>


    <div class="col-6 col-md-6">
      <app-internal-chat [oneChitChat]="oneChitChat"></app-internal-chat>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-success mx-1" (click)="addToChitchat(oneChitChat)"
            *ngIf="oneChitChat.usersInChitchat.length<oneChitChat.capacity"
    >Join
    </button>
    <button class="btn btn-warning mx-1" type="reset"
            (click)="markAsReadUserMessagesOfChitchat()">{{translate('Close')}}</button>
  </div>
</ng-container>