<ng-container *transloco="let translate;">
<div class="sidebar mt-2 ml-2" data-background-color="white"
     data-color="purple" data-image="../assets/img/sidebar-1.jpg">
  <div class="logo">
    <b class="simple-text text-primary logo-normal">
      {{translate('Category')}}
    </b>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li [class.active]="null === selectedCategory" class="nav-item"
          (click)="selectCategory(null)">
        <a class="nav-link">
          <p class="text-truncate text-uppercase">{{translate('All')}}</p>
        </a>
      </li>
      <li *ngFor="let category of categories" (click)="selectCategory(category)"
          [class.active]="category === selectedCategory" class="nav-item">
        <a class="nav-link">
          <p class="text-truncate text-uppercase">{{category.name}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
</ng-container>