<ng-container *transloco="let translate;">
  <div class="sidebar rounded ml-2" data-background-color="white" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo text-center" style="font-size: 20px; color: #0a53be">
      <span class="nav-title text-center text-uppercase"> {{translate('Category')}}</span>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li  [class.active]="selectedCategory === null"
             (click)="selectCategory(null)"
            class="nav-item category">
          <a class="nav-link pointer" style="border-radius: 30px">
            <!--     Topic block-->
            <span class="all-category-title text-uppercase">{{translate('All')}}</span>
          </a>
        </li>
        <!-- Line -->
        <div class="line"></div>

        <li *ngFor="let category of categories" (click)="selectCategory(category)"
               [class.active]="category === selectedCategory" class="nav-item"
            class="nav-item pointer">
          <a class="nav-link" style="border-radius: 30px">
            <!--         Category list -->
            <span class="category-title text-uppercase">{{category.name}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</ng-container>