<ng-container *transloco="let translate;">
  <div class="card container ml-2 mt-2 align-items-center">
    <div class="row">
      <div class="col">
        <div class="border-dark ratio  ml-2 mt-2 ratio-1x1 rounded-circle overflow-hidden" style="border: 1px solid black;width: 5rem;">
          <img class="card-img-top "  src={{tmpAvatar}} id="img-avatar" alt="..."/>
        </div>
      </div>
    </div>
<!--  Edit Buttons -->
    <div class="my-2 input-group">
      <button type="button" class="btn btn-primary shadow btn-sm rounded"
              (click)="editProfileChange()"
      >{{editProfile ? 'Cancel':'Edit data'}}</button>

      <button type="button" class="ml-2 btn btn-rose shadow btn-sm rounded"
              [disabled]="!editProfile"
              [hidden]="!editProfile"
              (click)="passwordRecovery()"
      >Password recovery by e-mail</button>

      <input type="file" class="file-input"
             [disabled]="!editProfile"
             [hidden]="!editProfile"
             [accept]="requiredFileType"
             (change)="onFileSelected($event)" #fileUpload>
      <div class="file-upload mt-3 ml-3"
           [hidden]="!editProfile">
        {{fileName || "Upload avatar: (max " + MAX_AVATAR_SIZE / 1024 + "Kb) "}}
        <button mat-mini-fab color="primary" class="upload-btn ml-2 mb-1"
                [disabled]="!editProfile"
                (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </div>
<!--End edit buttons -->

    <div class="mt-2 input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-userName">
          {{translate('user name')}}</span>
      </div>
      <input type="text" readonly class="pl-2 form-control rounded " aria-label="Default"
             [(ngModel)]="tmpUserName"
             aria-describedby="inputGroup-sizing-userName">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-email">
          {{translate('e-mail')}}</span>
      </div>
      <input type="text" readonly class=" pl-2 form-control rounded" aria-label="Default"
             [(ngModel)]="tmpEmail"
             aria-describedby="inputGroup-sizing-email">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-role">
          {{translate('role')}}</span>
      </div>
      <select class="custom-select rounded" id="inputGroupSelect03"
              [disabled]="!editProfile"
              [(ngModel)]="tmpRole">
        <option class="text-start" *ngFor="let role of roles"
                [ngValue]="role">{{role}}</option>
      </select>
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-nativeLanguage">
          {{translate('native language')}}</span>
      </div>
      <select class="custom-select rounded" id="inputGroupSelect02"
              [disabled]="!editProfile"
              [(ngModel)]="tmpNativeLanguage" (change)="changeNativeLanguage()">
        <option class="text-start" *ngFor="let language of languages"
                [ngValue]="language">{{language.languageName}}</option>
      </select>
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">
          {{translate('first name')}}</span>
      </div>
      <input type="text" class="pl-2 form-control" aria-label="Default"
             [disabled]="!editProfile"
             [(ngModel)]="tmpFirstname"
             aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lastname">
          {{translate('last name')}}</span>
      </div>
      <input type="text" class="pl-2 form-control" aria-label="Default"
             [disabled]="!editProfile"
             [(ngModel)]="tmpLastname"
             aria-describedby="inputGroup-sizing-lastname">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-gender">
          {{translate('gender')}}</span>
      </div>
      <select class="custom-select rounded" id="inputGroupSelect01" [value]="tmpGender"
              [disabled]="!editProfile"
              [(ngModel)]="tmpGender">
        <option class="text-start" *ngFor="let gender of genders"
                [ngValue]="gender">{{gender}}</option>
      </select>
    </div>
    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-dob">
          {{translate('date of birth')}}</span>
      </div>
      <input type="date" class="pl-2 form-control" aria-label="Default"
             [disabled]="!editProfile"
             [(ngModel)]="tmpDob">
    </div>
    <div class="card-body text-center">
      <button type="button" (click)="save()" class="mx-1 btn btn-success btn-sm"
              [hidden]="!editProfile"
      >{{translate('Save')}}</button>
      <button type="button" class="mx-1 btn btn-rose btn-sm"
              [routerLink]="['']"
      >{{translate('Close')}}</button>
    </div>
  </div>
</ng-container>