<ng-container *transloco="let translate;">
  <!--  HEADER MENU -->
  <div class="main-div">
    <div class="menu-div">
      <img src="assets/img/logo.png" alt="..."/>

    </div>
    <div class="menu-div">
      <img class="slogan" src="assets/img/slogan.svg" alt="..."/>
    </div>
    <nav class="top-menu">
      <ul>
        <li *ngIf="!isLoggedIn">
          <a class="btn btn-round btn-outline-primary btn-sm text-primary"
             target="_blank" (click)="login()">{{translate('Log In')}}</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a class="btn btn-round btn-outline-primary btn-sm text-primary"
             target="_blank" (click)="signup()">{{translate('Sign Up')}}</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a class="btn btn-round btn-outline-primary btn-sm text-primary"
             target="_blank" (click)="logOut()">{{translate('Log Out')}}</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a class="btn btn-round py-0 px-0 btn-lg mb-0 text-success"
             target="_blank">
            <div class="ratio ratio-1x1 rounded-circle overflow-hidden"
                 style="border: 1px solid #86b7fe;width: 40px; height: 40px">
              <img class="card-img-top" (click)="openUserProfile()" style=" height: 40px"
                   src="{{avatarUrl || 'assets/img/user.png'}}"
                   alt="..."/>
              <!--                  {{currentUser}}-->
            </div>
            <div class="badge badge-danger position-absolute"
                 style="font-size:8px;font-weight: bold"
                 *ngIf="totalCountUnreadUserMessages > 0">{{totalCountUnreadUserMessages}}
            </div>
          </a>
        </li>
        <li>
          <select class="btn btn-round btn-outline-primary btn-link btn-sm text-primary"
                  id="inputGroupSelect01"
                  [value]='' (change)="changeLanguage(selectedLanguage)"
                  [(ngModel)]="selectedLanguage">
            <option class="text-uppercase text-start" *ngFor="let language of languages"
                    [ngValue]="language.codeIso">{{language.codeIso}}</option>
          </select>
        </li>
      </ul>
    </nav>
  </div>

  <div class="body-div pr-1">
    <div>
      <app-category class="mt-5" (selectCategoryEvent)="selectCategory($event)"></app-category>
    </div>
    <div>
        <app-chitchat class="mt-5" [selectedCategory]="selectedCategory"></app-chitchat>
    </div>
  </div>
</ng-container>