<ng-container *transloco="let translate;">
  <div class="row mx-2 px-0">
    <nav aria-label="" class="navbar rounded navbar-expand-xl px-0 mt-2 mr-2 shadow border-radius-xl">
<!--      <img alt="" src="assets/img/cup.svg" style="margin-bottom: 1rem; margin-left:10%; height: 40px;">-->
      <div class="container-fluid py-1 px-2">
        <nav aria-label="breadcrumb">
          <p style="margin-left: 3rem; margin-top:1rem; color: #0a53be; font-weight: bold; font-size: 250%">Chit
            <span style="color: white">-</span>Chat
            <span style="color: white">......</span>
            <span style="font-style: italic; color: #DD8F85">"Speak the language of the planet"</span></p>
          <div class="shadow ratio ratio-1x1 rounded-circle overflow-hidden position-absolute"
               style="border: 1px solid #86b7fe;width: 1rem; top: 2rem; left: 7.7rem">
            <img class="card-img-top"
                 src="assets/img/flags/uk.svg"
                 alt="..."/>
          </div>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li *ngIf="!isLoggedIn" class="nav-item d-flex align-items-center">
              <a class="btn btn-round btn-outline-primary btn-sm mb-0 -3 text-primary"
                 target="_blank" (click)="login()">{{translate('Log In')}}</a>
            </li>
            <li *ngIf="!isLoggedIn" class="nav-item d-flex align-items-center">
              <a class="btn btn-round btn-outline-primary btn-sm mb-0 me-3 text-primary"
                 target="_blank" (click)="signup()">{{translate('Sign Up')}}</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item d-flex align-items-center">
              <a class="btn btn-round btn-outline-primary btn-sm mb-0 me-2 text-primary"
                 target="_blank" (click)="logOut()">{{translate('Log Out')}}</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item d-flex align-items-center">
              <a class="btn btn-round py-0 px-0 btn-lg mb-0 text-success"
                 target="_blank">
                <div class="ratio ratio-1x1 rounded-circle overflow-hidden"
                     style="border: 1px solid #86b7fe;width: 40px; height: 40px">
                  <img class="card-img-top" (click)="openUserProfile()" style=" height: 40px"
                       src="{{avatarUrl || 'assets/img/user.png'}}"
                       alt="..."/>
                  <!--                  {{currentUser}}-->
                </div>
                <div class="badge badge-danger position-absolute"
                     style="font-size:8px;font-weight: bold"
                     *ngIf="totalCountUnreadUserMessages > 0">{{totalCountUnreadUserMessages}}
                </div>
              </a>
            </li>
            <li class="nav-item d-flex ml-2 align-items-center">
              <select class="btn btn-round btn-outline-primary btn-link btn-sm mb-0 me-2 text-primary" id="inputGroupSelect01"
                      [value]='' (change)="changeLanguage(selectedLanguage)"
                      [(ngModel)]="selectedLanguage">
                <option class="text-uppercase text-start" *ngFor="let language of languages"
                        [ngValue]="language.codeIso">{{language.codeIso}}</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <div class="row">
    <div class="col-2 mb-2">
      <app-category class="mt-5" (selectCategoryEvent)="selectCategory($event)"></app-category>
    </div>

    <div class="col-10 ">
      <div class="col">
      <app-chitchat [selectedCategory]="selectedCategory"></app-chitchat>
      </div>
    </div>
  </div>
</ng-container>