<form [formGroup]="registerForm">

  <div class="container">
    <label ><b>Username</b></label>
    <input type="text" formControlName="username" placeholder="Enter Username"  required>
    <label ><b>Email</b></label>
    <input type="text" formControlName="email" placeholder="Enter Email"  required>
    <label ><b>Password</b></label>
    <input type="password" formControlName="password" placeholder="Enter Password" required>
    <label ><b>Confirm password</b></label>
    <input type="password" formControlName="confirmPassword" placeholder="Enter Password" required>
    <button type="submit" (click)="register()">Register</button>
  </div>
</form>
