<ng-container *transloco="let translate;">
  <form [formGroup]="registerForm">

    <div class="container">
      <label><b>{{translate('Username')}}</b></label>
      <input type="text" formControlName="username" placeholder="{{translate('Enter Username')}}" required>
      <label><b>{{translate('Email')}}</b></label>
      <input type="text" formControlName="email" placeholder="{{translate('Enter Email')}}" required>
      <label><b>{{translate('Password')}}</b></label>
      <input type="password" formControlName="password" placeholder="{{translate('Enter Password')}}" required>
      <label><b>{{translate('Confirm password')}}</b></label>
      <input type="password" formControlName="confirmPassword" placeholder="{{translate('Confirm Password')}}"
             required>
      <button type="submit" (click)="register()">{{translate('Register')}}</button>
    </div>
  </form>
</ng-container>