<div class="col">
<div class="input-group">
<input class="form-control" id="input" style="height: 48px" type="text" placeholder="Message" [(ngModel)]="input">
<button class="btn btn-success btn-sm px-3 rounded-circle" style="font-size: 20px" (click)="sendMessage()">
℺
</button>
</div>
<div class="px-0 pt-1" style="height: 400px;overflow-y: scroll;">
  <div class="container" *ngFor="let m of msg">
    <span class="time-left">{{m.authorName}}</span>:
    {{m.message}}
    <br>
    <div class="badge bg-info text-light"
         style="font-size:12px; top: 0.2rem; right: 0.2rem">{{m.createdTime|date: 'dd/MM/yyyy   HH:mm'}}
    </div>
  </div>
</div>
</div>