<!--<nav class="nav">-->
<!--  <a class="nav-link active" aria-current="page" href="#">My chitchats</a>-->
<!--  <a class="nav-link" href="#">Chitchats I participate in</a>-->
<!--  <a class="nav-link" href="#">Archive</a>-->
<!--</nav>-->
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-my_chitchats-tab" data-bs-toggle="pill" data-bs-target="#pills-my_chitchats" type="button" role="tab" aria-controls="pills-my_chitchats" aria-selected="true">My chitchats</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-planned_chitchats-tab" data-bs-toggle="pill" data-bs-target="#pills-planned_chitchats" type="button" role="tab" aria-controls="pills-planned_chitchats" aria-selected="false">Planned chitchats</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-archive_chitchats-tab" data-bs-toggle="pill" data-bs-target="#pills-archive_chitchats" type="button" role="tab" aria-controls="pills-archive_chitchats" aria-selected="false">Archive chitchats</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-my_chitchats" role="tabpanel" aria-labelledby="pills-my_chitchats-tab">
    <h1>My</h1>
  </div>
  <div class="tab-pane fade" id="pills-planned_chitchats" role="tabpanel" aria-labelledby="pills-planned_chitchats-tab">
    <h1>In</h1>
  </div>
  <div class="tab-pane fade" id="pills-archive_chitchats" role="tabpanel" aria-labelledby="pills-archive_chitchats-tab">
    <h1>Arc</h1>
  </div>
</div>